<div class="container">
    <div class="row">
         <!--1st box-->
        <div class="col-md-4">
<div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
          <div class="d-flex w-100 justify-content-between">
            <h3 class="mb-1">4A,4B,4C invoice</h3>
            
          </div></a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Total invoice</h5>
            <h5 class="mb-1">Taxble pay</h5>
            <h5 class="mb-1">Total tax</h5>
           
            </div>
          </a>
    </div>
    </div>
    <!-- 2 box-->
    <div class="col-md-4">
            <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                      <div class="d-flex w-100 justify-content-between">
                        <h3 class="mb-1">5A,5B,5C  Large Invoice</h3>
                        </div></a>
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                  <h5 class="mb-1">Total invoice</h5>
                                  <h5 class="mb-1">Taxble pay</h5>
                                  <h5 class="mb-1">Total tax</h5>
                                  </div>
                                </a>
                </div>
                </div>
                <!-- 3 box-->
                <div class="col-md-4">
                        <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                                  <div class="d-flex w-100 justify-content-between">
                                    <h3 class="mb-1">9B - credit/debit</h3>
                                    
                                  </div>
                            </a>
                           <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Total invoice</h5>
                                    <h5 class="mb-1">Taxble pay</h5>
                                    <h5 class="mb-1">Total tax</h5>
                                  </div>
                                </a>
                                </div>
                            </div>
      </div>
    </div>
     <!-- 2 row-->
     <div class="container">
     <div class="row">
        <!--1st box-->
       <div class="col-md-4">
<div class="list-group">
       <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
         <div class="d-flex w-100 justify-content-between">
           <h3 class="mb-1">7- B2c</h3>
           
         </div></a>
       <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
         <div class="d-flex w-100 justify-content-between">
           <h5 class="mb-1">Total invoice</h5>
           <h5 class="mb-1">Taxble pay</h5>
           <h5 class="mb-1">Total tax</h5>
          </div>
         </a>
   </div>
   </div>
   <!-- 2 box-->
   <div class="col-md-4">
           <div class="list-group">
                   <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                     <div class="d-flex w-100 justify-content-between">
                       <h3 class="mb-1">8A,8B,8C</h3>
                       </div></a>
                       <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                               <div class="d-flex w-100 justify-content-between">
                                 <h5 class="mb-1">Total invoice</h5>
                                 <h5 class="mb-1">Taxble pay</h5>
                                 <h5 class="mb-1">Total tax</h5>
                                 </div>
                               </a>
               </div>
               </div>
               <!-- 3 box-->
               <div class="col-md-4">
                       <div class="list-group">
                               <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                                 <div class="d-flex w-100 justify-content-between">
                                   <h3 class="mb-1">11-a></h3>
                                   </div>
                           </a>
                          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                               <div class="d-flex w-100 justify-content-between">
                                   <h5 class="mb-1">Total invoice</h5>
                                   <h5 class="mb-1">Taxble pay</h5>
                                   <h5 class="mb-1">Total tax</h5>
                                </div>
                               </a>
                               </div>
                           </div>
     </div>
    </div>
    <!--3 row-->
    <div class="container">
        <div class="row">
           <!--1st box-->
          <div class="col-md-4">
   <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
              <h3 class="mb-1">7- B2c</h3>
              
            </div></a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">Total invoice</h5>
              <h5 class="mb-1">Taxble pay</h5>
              <h5 class="mb-1">Total tax</h5>
             </div>
            </a>
      </div>
      </div>
      <!-- 2 box-->
      <div class="col-md-4">
              <div class="list-group">
                      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                        <div class="d-flex w-100 justify-content-between">
                          <h3 class="mb-1">8A,8B,8C</h3>
                          </div></a>
                          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                  <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Total invoice</h5>
                                    <h5 class="mb-1">Taxble pay</h5>
                                    <h5 class="mb-1">Total tax</h5>
                                    </div>
                                  </a>
                  </div>
                  </div>
                  <!-- 3 box-->
                  <div class="col-md-4">
                          <div class="list-group">
                                  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                                    <div class="d-flex w-100 justify-content-between">
                                      <h3 class="mb-1">11-a></h3>
                                      </div>
                              </a>
                             <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                  <div class="d-flex w-100 justify-content-between">
                                      <h5 class="mb-1">Total invoice</h5>
                                      <h5 class="mb-1">Taxble pay</h5>
                                      <h5 class="mb-1">Total tax</h5>
                                    </div>
                                  </a>
                                  </div>
                              </div>
        </div>
       </div>
       <!-- Table-->
       <div class="container">
           <div class="row">
            <div class="jumbotron">
                   
                  <h3>B2B Invoice-Summary</h3> 
                  <nav class="navbar">
                        <ul class="nav navbar-nav ">
                        <li class="active"><a href="#">Upload Tax Payer</a></li>
                        <li><a href="#">Upload By Recevier</a></li>
                        <li><a href="#">Modified By Recevier</a></li>
                        <li><a href="#">Rejected By Recevier</a></li>
                      </ul>
                  </nav>
                  <!-- For table-->
                  <table class="table table-hover ">
                    <thead>
                      <tr>
                        <th>Invoice No</th>
                        <th>Invoice Date</th>
                        <th>Total Invoive Value</th>
                        <th>Total Taxable Value</th>
                        <th>Integrated Tax</th>
                        <th>Central Tax</th>
                        <th>State/UT Tax</th>
                        <th>CESS</th>
                        <th>Actions</th>
                        </tr>
                    </thead>
                    </table><br><br>
                    </div>
            <button type="button" class="btn btn-light">Back</button>&nbsp;
            <button type="button" class="btn btn-primary .bg-primary">Add Invoice</button>
           </div>
       </div>
