        <div class="container" style="background-color:lightskyblue">
        <h1>Client Registration</h1>
        <div class="container">
                <div class="row">
<h3>TAXPAYER/CLIENT INFO</h3>
        <div class="col-md-6">
                <div class="form-group form-group-sm">
                        <label for="firstname" class="control-label">Client Name</label>
                        <input type="text" class="form-control" id="firstname" >
                    </div> 

        </div>
        <div class="col-md-6">
                <div class="form-group ">
                        <label for="firstname" class="control-label"> Type</label>
                        <select type="text" class="form-control"  id="firstname">
                            <option default selected disabled>Select Type</option>
                            <option>Type 1</option>
                        </select>
                     </div>
</div>
    </div>
    <!--2nd row-->
        <div class="row">
        <div class="col-md-4">
                      
                <div class="form-group form-group-sm">
                        <label for="firstname" class="control-label">State</label>
                        <select type="text" class="form-control"  id="firstname">
                        <option default selected disabled>Select State</option>
                            <option >andhra pradesh</option>
                            <option>Delhi</option>
                        </select>
                     </div>
                </div>
                <div class="col-md-4">
                        <div class="form-group form-group-sm">
                                <label for="firstname" class="control-label">city</label>
                                <select type="text" class="form-control"  id="firstname">
                                <option default selected disabled>select city</option>
                                    <option >hyd</option>
                                    <option>wgl</option>
                                </select>
                             </div>
                        </div>
    <div class="col-md-4">
                <div class="form-group form-group-sm">
                        <label for="firstname" class="control-label">PinCode</label>
                        <input type="text" class="form-control" id="firstname" >
                    </div>
                </div>
    </div>
    <!--3 row-->
    <div class="row">
        <div class="col-md-4">
                <label for="firstname" class="control-label">PAN Number</label>
                <input type="text" class="form-control" id="firstname" >
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"> </div>
    </div>
    <!--4th row-->
    
        <div class="row">
            <div class="col-md-12">
                <label for="firstname" class="control-label">Address</label>
                <input type="text" class="form-control" id="firstname" >
        </div>
    </div>
    <!--Relation ship-->
    <div class="row">
        <h3>RELATIONSHIP</h3>
        <p>How you would like to  register with mind gst suvidha provider</p>
        <div class="col-md-4">
                <div class="form-group form-group-sm">
                        <label for="firstname" class="control-label">Register As</label>
                        <select type="text" class="form-control"  id="firstname">
                        <option default selected disabled>select city</option>
                            <option >hyd</option>
                            <option>wgl</option>
                        </select>
                     </div>
                    </div>
                     <div class="col-md-4">
                         <label>Service Required</label>&nbsp;
                         <label class="checkbox-inline">
                                    <input type="checkbox" value="">Gst Return Filling
                                  </label>
                                  <label class="checkbox-inline">
                                    <input type="checkbox" value="">E-Way
                                  </label>
                     </div>
             </div>
    <div class="row">
            <h3>Contact person Details</h3>
            <div class="col-md-4">
                    <label for="firstname" class="control-label">Email</label>
                    <input type="text" class="form-control" id="firstname" >
                    
            </div>
            <div class="col-md-4">
                    <label for="firstname" class="control-label">Mobile Number</label>
                    <input type="text" class="form-control" id="firstname" >
            </div>
    </div><br>
    <button class='btn btn-success'>Register</button>
</div>
</div>
<br>
<br>