<div class="container">
	<div class="row">
		<h2>Add Invoice</h2><br><br>
	</div>
    <form action="#">
        <div class="row">
                <div class="col-md-6">
                    <div class="form-group form-group-sm">
                        <label for="firstname" class="control-label">Recevier GSTIN/UIN</label>
                        <input type="text" class="form-control" id="firstname" >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lastname" class="control-label">Recevier Name</label>
                        <input type="text" class="form-control" id="lastname" >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lastname" class="control-label">Invoice No</label>
                        <input type="text" class="form-control" id="lastname" >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lastname" class="control-label">Invoice Date</label>
                        <input type="text" class="form-control" id="lastname" >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lastname" class="control-label">Pos</label>
                        <input type="text" class="form-control" id="lastname" >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lastname" class="control-label">Total Invoice Value</label>
                        <input type="text" class="form-control" id="lastname" >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lastname" class="control-label">Supply Type</label>
                        <input type="text" class="form-control" id="lastname" >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lastname" class="control-label">GSTIN.of Operater</label>
                        <input type="text" class="form-control" id="lastname" >
                    </div>
                </div>
        </div>
        <div class="col-md-6">
        <div class="checkbox">
            <label><input type="checkbox" value="">Supply attract reverse charge</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="checkbox">
              <label><input type="checkbox" value="">Tax on this voice is paid</label>
            </div>
          </div><br><br>
          <div class="row">
              <h2>Item Details</h2><br><br>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group form-group-sm">
                        <label for="firstname" class="control-label">Category</label>
                        <input type="text" class="form-control" id="firstname" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-group-sm">
                        <label for="firstname" class="control-label">Hsn</label>
                        <input type="text" class="form-control" id="firstname" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-group-sm">
                        <label for="firstname" class="control-label">Tax.Value()*</label>
                        <input type="text" class="form-control" id="firstname" >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-sm">
                        <label for="firstname" class="control-label">Rate</label>
                        <input type="text" class="form-control" id="firstname" >
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-sm">
                        <label for="firstname" class="control-label">Amount</label>
                        <input type="text" class="form-control" id="firstname" >
                    </div>
                </div>
                
                </div>
                <button type="button" class="btn btn-success">Add</button>
                <button type="button" class="btn btn-danger">Cancel</button>
       </form>
      </div>